{{- $work := (index . "is_work") -}}
{{- $transient := (index . "is_transient") -}}

{{- if and stdinIsATTY (not (env "CI")) (not (env "GITPOD_HOST")) -}}
{{- if kindIs "invalid" $work -}}
{{- $work = promptBool "Is this a work computer (y/n)" -}}
{{- end -}}
{{- if kindIs "invalid" $transient -}}
{{- $transient = promptBool "Is this a transient machine (y/n)" -}}
{{- end -}}
{{- end -}}

{{- $work_email := index (default dict (index . "work")) "email" -}}
{{- $work_path := index (default dict (index . "work")) "path" -}}
{{- $work_terms := index (default dict (index . "work")) "terms" -}}
{{- $work_ssh_config := index (default dict (index . "work")) "ssh_config" -}}

{{- if $work -}}
{{- if not $work_email -}}
{{- $work_email = promptString "What is your work email" -}}
{{- end -}}
{{- if not $work_path -}}
{{- $work_path = promptString "Where are your work repositories located" -}}
{{- end -}}
{{- if not $work_ssh_config -}}
{{- $work_ssh_config = promptString "What is the relative path for the ssh config" -}}
{{- end -}}
{{- end -}}

onepassword:
  cache: true

diff:
  exclude:
    - scripts

{{ if (env "GITPOD_REPO_ROOT") -}}
sourceDir: {{ env "GITPOD_REPO_ROOT" | quote}}
{{- end }}

data:
  is_work: {{ kindIs "bool" $work | ternary $work false }}
  is_transient: {{ kindIs "bool" $transient | ternary $transient false }}
  name: "George Witteman"
  email: "george@witteman.me"
  vault: "y3wsvezcovj634l3leoly4i4qy"
  gpgkey: "3F31B900236A9F918F143AE106223EC3AE0381FB"
{{- if $work }}
  work:
    terms:
      {{- range $work_terms }}
      - {{ . | quote }}
      {{- end }}
    vault: "d2npbgiaxt5asswavzklxnkwne"
    signingkey: "3F7D97CD2491D6CD2B814EF36F1B35AC1C424C4F"
    email: {{ $work_email | quote }}
    path: {{ $work_path | expandenv | osClean | quote }}
    ssh_config: {{ $work_ssh_config | expandenv | osClean | quote }}
{{- end }}
