{{- $work := false -}}
{{- $transient := false -}}
{{- if and stdinIsATTY (not (env "CI")) -}}
{{- $work = promptBool "Is this a work computer (y/n)" -}}
{{- $transient = promptBool "Is this a transient machine (y/n)" -}}
{{- end -}}

{{- $work_email := "" -}}
{{- $work_path := "" -}}
{{- if $work -}}
{{- $work_email = promptString "What is your work email" -}}
{{- $work_path = promptString "Where are your work repositories located" -}}
{{- end -}}

onepassword:
  cache: true

diff:
  exclude:
    - scripts

data:
  is_work: {{ $work }}
  is_transient: {{ $transient }}
  name: "George Witteman"
  email: "george@witteman.me"
  vault: "y3wsvezcovj634l3leoly4i4qy"
  gpgkey: "3F31B900236A9F918F143AE106223EC3AE0381FB"
{{- if $work }}
  work:
    vault: "d2npbgiaxt5asswavzklxnkwne"
    signingkey: "3F7D97CD2491D6CD2B814EF36F1B35AC1C424C4F"
    email: "{{ $work_email }}"
    path: "{{ $work_path }}"
{{ end -}}
