{{- $class := promptString "Class (work/personal)" -}}

{{- $work_email := promptString "Work Email" -}}
{{- $work_path := promptString "Work Path" -}}

{{- /* op list vaults | jq */ -}}
{{- $personal_vault := promptString "Personal Vault UUID" -}}
{{- $work_vault := promptString "Work Vault UUID" -}}

[data]
  name = "George Witteman"
  email = "george@witteman.me"
  class = "{{ $class }}"
  vault = "{{ $personal_vault }}"

[data.work]
  email = "{{ $work_email }}"
  vault = "{{ $work_vault }}"
  path = "{{ $work_path }}"
  signingkey = "3F7D97CD2491D6CD2B814EF36F1B35AC1C424C4F"
