{{- $installPackages := false -}}
{{- if stdinIsATTY }}
{{- $installPackages = promptBoolOnce . "install_packages" "Do you want to automatically install packages" -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

diff:
  exclude:
    - scripts

data:
  name: "George Witteman"
  email: "george@witteman.me"
  gpgkey: "3F31B900236A9F918F143AE106223EC3AE0381FB"
  install_packages: {{ $installPackages }}
