{{- $work := false -}}
{{- if stdinIsATTY -}}
{{- $work := promptBool "Work machine" -}}
{{- end -}}

{{- $work_email := "" -}}
{{- $work_path := "" -}}
{{- if $work -}}
{{- $work_email := promptString "Work Email" -}}
{{- $work_path := promptString "Work Path" -}}
{{- end -}}

[onepassword]
  cache = true

[data]
  work = {{ $work }}
  name = "George Witteman"
  email = "george@witteman.me"
  vault = "y3wsvezcovj634l3leoly4i4qy"

{{- if $work -}}
[data.work]
  vault = "d2npbgiaxt5asswavzklxnkwne"
  signingkey = "3F7D97CD2491D6CD2B814EF36F1B35AC1C424C4F"
  email = "{{ $work_email }}"
  path = "{{ $work_path }}"
{{- end -}}
