.DS_Store
.Trash/
.arcrc
.asdf/
.aws/
.cache/
.cargo/
.cups/
.dbt/
.docker/
.gnupg/
.gradle/
.ipython/
.jenkins*
.lesshst
.matplotlib/
.npm/
.npmrc
.onelogin.cfg
.oracle_jre_usage/
.parallel/
.pg_service.conf
.pgpass*
.phabricator/
.postgresql/
.psql_history
.pyenv/
.pylint.d/
.python_history
.pythonhist
.rustup/
.sherlock.cfg
.sqlite_history
.sqlworkbench/
.ssh/
.terminfo/
.terraform.d/
.tox/
.vimgolf/
.viminfo
.yarnrc
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Postman/
Public/
Sites/
aws.json
inSync*
