{{- if eq .chezmoi.os "darwin" -}}

tap "georgewitteman/tap"

brew "fd"
brew "fzf"
brew "git"
brew "gnupg"
brew "htop"
brew "hyperfine"
brew "jq"
brew "neovim"
brew "pinentry-mac"
brew "ripgrep"
brew "rsync"
brew "shellcheck"
brew "starship"
brew "terraform"
brew "tmux"
brew "tree"
brew "wget"
brew "universal-ctags"

{{ if not (lookPath "aws") }}
brew "awscli"
{{ end }}

{{ if eq (output "sh" "-c" "ls /usr/local/Cellar/*openssl* || true" | trim) "" }}
brew "openssl"
{{ end }}

{{ end -}}
