#!/usr/bin/env bash

{{- if stat "/var/gitpod/.bashrc-prepend" }}
{{ include "/var/gitpod/.bashrc-prepend" }}
{{- end }}

if [[ -z $ENV ]]; then
  # If ~/.bash_profile wasn't sourced then source it
  # shellcheck source=.bash_profile
  source "${HOME}/.bash_profile"
  return $?
fi

# shellcheck source=.shinit
source "${HOME}/.shinit"

for dir in "$HOME"/.config/sh/*; do
  if [[ ! -d $dir ]]; then
    continue
  fi

  if [[ -r ${dir}/init.bash ]]; then
  # shellcheck disable=SC1090
    . "${dir}/init.bash"
  fi
done

{{- if eq .chezmoi.os "darwin" }}
# Keep this at the end
if [[ -e "${HOME}/.cache/iterm2/iterm2_shell_integration.bash" ]]; then
  # shellcheck source=.cache/iterm2/iterm2_shell_integration.bash
  . "${HOME}/.cache/iterm2/iterm2_shell_integration.bash" || true
fi
{{- end -}}

{{- if stat "/var/gitpod/.bashrc-prepend" }}
{{ include "/var/gitpod/.bashrc-append" }}
{{ end }}
