#!/bin/sh

set -e

. "${HOME}/.profile"

if [ -n "$GITHUB_WORKFLOW" ]; then
  printf "::group::"
fi
echo-info "Running tests"

assert_files_exist() {
  for file in "$@"; do
    if [ -f "$file" ]; then
      echo-ok "The file '${file}' exists"
    else
      echo-err "The file '${file}' does not exist"
      exit 1
    fi
  done
}

assert_cmd_exists() {
  if command -v "$1" >/dev/null 2>&1; then
    echo-ok "The command '$1' exists in \$PATH"
  else
    echo-err "The command '$1' is not in \$PATH"
    exit 1
  fi
}

assert_exit_0() {
  if eval "$1"; then
    echo-ok "The file '$1' succeeded"
  else
    echo-err "The command '$1' failed"
    exit 1
  fi
}

assert_files_exist "${HOME}/.zshrc"
assert_files_exist ${HOME}/.ssh/id_*

{{ if eq .chezmoi.os "darwin" -}}
assert_cmd_exists rg
assert_cmd_exists op
assert_cmd_exists jq

assert_exit_0 "nvim -v | grep -q NVIM"
{{- end }}

if [ -n "$CI" ]; then
  echo "Running CI only tests"

  assert_exit_0 'pyenv-reinstall'
  assert_files_exist ${PYENV_ROOT}/versions/*/bin/python
fi

echo-ok "All tests ran successfully"

if [ -n "$GITHUB_WORKFLOW" ]; then
  echo "::endgroup::"
fi
