#!/bin/sh

set -o errexit

if ! git -C {{ .chezmoi.sourceDir }} remote -v | grep -q "git@github.com:"; then
  echo "Use ssh repo URL for dotfiles repo:"
  echo '  $ (cd "$({{ .chezmoi.executable }} source-path)" && git-https-to-ssh)'
  echo
fi

# Installers hash: {{ glob ".bin/install*" | join "\n" | sha256sum }}
echo "You can now run specific installers for any programs you need:"
ls "$HOME"/.bin/install* | xargs -n 1 basename | xargs -n 1 printf "  $ %s\n"

echo
echo "Restart your terminal:"
echo "  $ exec ${SHELL:-/bin/bash} -li"
