{{- if env "GITHUB_WORKFLOW" -}}
#!/bin/sh

echo "::group::Available chezmoi data"

PATH="${HOME}/.local/bin:${PATH}"

echo chezmoi data
chezmoi data || echo 'chezmoi not in $PATH:' "$PATH"

echo "::endgroup::"
{{ end -}}
