{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

set -e

. "${HOME}/.profile"

if [ -n "$GITHUB_WORKFLOW" ]; then
  echo "::group::Installing macOS packages"
fi

echo-run brew update --quiet
echo-run brew bundle {{ if (env "CI") }}--verbose {{ end }}--global --no-lock

if [ -n "$GITHUB_WORKFLOW" ]; then
  echo "::endgroup::"
fi
{{ end -}}
