{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

set -e

if command -v brew >/dev/null 2>&1; then
  echo "Skipping homebrew install since it's already available"
  exit
fi

if [ -n "$GITHUB_WORKFLOW" ]; then
  echo "::group::Installing homebrew"
fi

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

if [ -n "$GITHUB_WORKFLOW" ]; then
  echo "::endgroup::"
fi
{{ end -}}
