{{- if and (eq .chezmoi.os "linux") (not .is_transient) -}}
#!/bin/sh

if ! sudo true; then
  echo "Skipping Ubuntu packages install because we don't have sudo permissions"
  exit
fi

set -e

. "${HOME}/.profile"

if [ -n "$GITHUB_WORKFLOW" ]; then
  echo "::group::Installing ubuntu packages"
fi

echo-run sudo apt --quiet --quiet --yes update
echo-run sudo apt --quiet --quiet --yes install shellcheck vim neovim git

if [ -n "$GITHUB_WORKFLOW" ]; then
  echo "::endgroup::"
fi

{{ end -}}
