{{- if .work -}}
#!/usr/bin/env zsh

set -e

. "${HOME}/.profile"

WORK_EMAIL="{{ .work.email }}"
WORK_PATH="{{ .work.path }}"
WORK_SIGNINGKEY="{{ .work.signingkey }}"

if [[ -z "$WORK_PATH" || -z "$WORK_SIGNINGKEY" || -z "$WORK_EMAIL" ]]; then
  echo-warn "Skipping work setup because email, path, or signingKey not set in config."
  exit
fi

local repo
for repo in "$WORK_PATH"/*(/N); do
  if [[ -d "${repo}/.git" ]]; then
    cd "${repo:a}"
    if [[ "$(git config user.email)" != "$WORK_EMAIL" ]]; then
      echo-run git config user.email "$WORK_EMAIL"
    fi
    if [[ "$(git config user.signingKey)" != "$WORK_SIGNINGKEY" ]]; then
      echo-run git config user.signingKey "$WORK_SIGNINGKEY"
    fi
  fi
done

if command -v brew >/dev/null 2>&1; then
  echo-run brew install postgres
fi
{{ end -}}
