{{- if and .is_work (not .is_transient) }}
{{- if stat (joinPath .work.path .work.ssh_config) }}
{{ output "cat" (joinPath .work.path .work.ssh_config) | replace "GREP_FOR_THIS" "georgewitteman" }}
{{- end }}
{{- end }}
