#!/bin/sh

# Run this once per day (or whenever the file contents change).
# date: {{ output "date" "+%Y-%m-%d" }}

set -o errexit

if command -v brew >/dev/null 2>&1; then
  brew_prefix="$(brew --prefix)"
  # -O: True if file exists and its owner matches the effective user id of this
  # process.
  if [ -O "$brew_prefix" ]; then
    brew upgrade
  fi
fi
