#!/bin/sh

set -o errexit
set -o nounset
set -o xtrace

BIN="${HOME}/.local/bin/rtx"

ARCH="{{ eq "amd64" .chezmoi.arch | ternary "x64" .chezmoi.arch }}"

{{ if eq .chezmoi.os "linux" -}}
if [ -f "/etc/alpine-release" ]; then
  apk add rtx
  exit $?
fi
URL="https://rtx.pub/rtx-latest-linux-${ARCH}"
{{ else if eq .chezmoi.os "darwin" -}}
URL="https://rtx.pub/rtx-latest-macos-${ARCH}"
{{ end -}}

curl --fail --silent --tlsv1.2 --show-error --location "$URL" > "$BIN"
chmod +x "$BIN"
