{{ if .install_packages -}}
#!/bin/sh

set -o errexit

if command -v sudo >/dev/null 2>&1 && command -v apt-get >/dev/null 2>&1; then
  export DEBIAN_FRONTEND=noninteractive
  sudo --non-interactive apt-get update
  sudo --non-interactive apt-get install --yes \
    fd-find \
    fzf \
    ripgrep
elif command -v brew >/dev/null 2>&1; then
  brew bundle --verbose --no-lock --file=- <<-EOF
brew "fd"
brew "fzf"
brew "gnupg"
brew "jq"
brew "pinentry-mac"
brew "ripgrep"
brew "starship"
EOF
fi

if ! command -v starship >/dev/null 2>&1; then
  if command -v curl >/dev/null 2>&1; then
    echo "Installing starship"
    curl -sS https://starship.rs/install.sh | sh -s -- --yes >/dev/null 2>&1
  fi
fi
{{- end }}
