{{ if .install_packages -}}
#!/bin/sh

set -o errexit
set -o xtrace

if command -v sudo >/dev/null 2>&1 && command -v apt-get >/dev/null 2>&1; then
  export DEBIAN_FRONTEND=noninteractive
  sudo --non-interactive apt-get update
  sudo --non-interactive apt-get install --yes \
    dnsutils \
    fd-find \
    fzf \
    iputils-ping \
    ripgrep \
    universal-ctags \
    vim-nox \
    zsh
elif command -v brew >/dev/null 2>&1; then
  brew tap "georgewitteman/tap"
  brew bundle --verbose --no-lock --file=- <<-EOF
brew "fd"
brew "fzf"
brew "gnupg"
brew "jq"
brew "pinentry-mac"
brew "ripgrep"
brew "universal-ctags"
brew "vim"
EOF
fi

if ! command -v starship >/dev/null 2>&1; then
  if command -v brew >/dev/null 2>&1; then
    brew install starship
  elif command -v curl >/dev/null 2>&1; then
    curl -sS https://starship.rs/install.sh | sh -s -- --yes --verbose
  fi
fi
{{- end }}
