#!/bin/sh

set -o errexit

if ! git -C {{ .chezmoi.sourceDir }} remote -v | grep -q "git@github.com:"; then
  echo "Use ssh repo URL for dotfiles repo:"
  echo '  $ {{ .chezmoi.executable }} git -- remote set-url origin git@github.com:georgewitteman/dotfiles.git'
  echo
fi
echo
echo "Restart your terminal:"
echo "  $ exec ${SHELL:-/bin/bash} -li"
