{{- if lookPath "rustup.main" -}}
{{- /* Gitpod uses a rustup wrapper script without a shebang which causes output to fail */ -}}
{{ output "rustup.main" "completions" "zsh" }}
{{- else if lookPath "rustup" -}}
{{ output "rustup" "completions" "zsh" }}
{{- end -}}
