{{- if .is_work -}}
#!/bin/sh

if [ "{{ .work.terms }}" = "" ]; then
  exit
fi

exec 1>&2

skiptermscheck=$(git config --type=bool hooks.skiptermscheck)
if [ "$skiptermscheck" = "true" ]; then
  exit
fi

echo "Making sure there are no work terms in this repository"

{{ range .work.terms }}
if echo-run rg "{{ . }}"; then
  exit 1
fi
{{ end }}

{{ end -}}
