{{- if lookPath "apt" -}}
#!/bin/sh

if ! sudo true; then
  echo "Skipping Ubuntu packages install because we don't have sudo permissions"
  exit
fi

set -e

# shellcheck source=.profile
. "${HOME}/.profile"

if [ -n "$GITHUB_WORKFLOW" ]; then
  echo "::group::Installing ubuntu packages"
fi

echo-run sudo apt --quiet --quiet --yes update
echo-run sudo apt --quiet --quiet --yes install shellcheck vim neovim git python3-pip

if [ -n "$GITHUB_WORKFLOW" ]; then
  echo "::endgroup::"
fi

{{ end -}}
