{{- if not (or .is_work .is_transient (env "CI")) -}}
#!/bin/bash

TOKEN='{{- output "op" "get" "item" "rbb4jo4wmrfdjjus6gqjsymm7a" "--fields" "token" | trim }}'
ACCOUNT_ID='{{- output "op" "get" "item" "rbb4jo4wmrfdjjus6gqjsymm7a" "--fields" "account" | trim }}'
ZONE_ID="witteman.me"
RECORD_ID="24808871"
IP="$(curl --ipv4 -s http://icanhazip.com/)"

curl \
  -H "Authorization: Bearer ${TOKEN}" \
  -H "Content-Type: application/json" \
  -H "Accept: application/json" \
  -X "PATCH" \
  -i "https://api.dnsimple.com/v2/${ACCOUNT_ID}/zones/${ZONE_ID}/records/${RECORD_ID}" \
  -d "{\"content\":\"${IP}\"}"
{{- end -}}
