{{- if lookPath "op" -}}
#!/bin/sh

export CLOUDFLARE_EMAIL='{{ .email }}'
export CLOUDFLARE_API_KEY='{{ (onepassword "dyulx35qcveyzpgdij2j3vvd4y" .vault).details.password }}'
export DNSIMPLE_TOKEN='{{- output "op" "get" "item" "rbb4jo4wmrfdjjus6gqjsymm7a" "--fields" "token" | trim }}'
export DNSIMPLE_ACCOUNT='{{- output "op" "get" "item" "rbb4jo4wmrfdjjus6gqjsymm7a" "--fields" "account" | trim }}'
export GITHUB_TOKEN='{{ (onepassword "sjrmyfeywna6zje7uf7oekhnoi" .vault).details.password }}'

/usr/local/bin/terraform "$@"
{{- end -}}
