{{- if lookPath "op" -}}
#!/bin/sh

export CLOUDFLARE_EMAIL={{ .email | quote }}
export CLOUDFLARE_API_KEY={{ (onepassword "dyulx35qcveyzpgdij2j3vvd4y" .vault).details.password | quote }}
export DNSIMPLE_TOKEN={{ (onepasswordItemFields "rbb4jo4wmrfdjjus6gqjsymm7a").Token.v | quote }}
export DNSIMPLE_ACCOUNT={{ (onepasswordItemFields "rbb4jo4wmrfdjjus6gqjsymm7a").Account.v | quote }}
export GITHUB_TOKEN={{ (onepassword "sjrmyfeywna6zje7uf7oekhnoi" .vault).details.password | quote }}

/usr/local/bin/terraform "$@"
{{- end -}}
