Brewfile.lock.json
autostart/
bashtop/
cairo-dock/
Mousepad/
Thunar/
VirtualBox/
configstore/update-notifier-npm.json
dconf/
htop/htoprc
mimeapps.list
ookla/
orage/
plank/
sepia
tmux/tpm
xfce4-dict/
xfce4/
