{{ if .is_work -}}
# vim: ft=gitconfig
[core]
	hooksPath = ".git/hooks"
[user]
	email = {{ .work.email | quote }}
	signingKey = {{ .work.signingkey | quote }}
[url "git@github.com:"]
	insteadOf = https://github.com/
{{ end -}}
