# vim: ft=gitconfig
# This is Git's per-user configuration file.
[user]
	name = George Witteman
	email = george@witteman.me
	signingKey = 3F31B900236A9F918F143AE106223EC3AE0381FB
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = true
[grep]
	lineNumber = true
[alias]
	s = status
	st = status
	patch = !git --no-pager diff --no-color
[core]
	editor = vim
	hooksPath = "~/.config/git/hooks"
[diff]
	tool = vimdiff
	colorMoved = default
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = 0
[push]
	default = simple
[pull]
	rebase = true
[commit]
{{- if (and (lookPath "gpg") (eq (output "sh" "-c" "gpg --list-secret-keys 409B6B1796C275462A1703113804BB82D39DC0E3 || echo false") "")) }}
	gpgsign = true
{{- end }}
{{- if .is_work }}
[includeIf "gitdir:{{ .work.path }}/*/"]
	path = ~/.config/git/work
{{- end }}
