{{ if .is_work -}}
# vim: ft=gitconfig
[user]
	email = {{ .work.email | quote }}
	signingKey = {{ .work.signingkey | quote }}
{{- if (and (lookPath "gpg") (eq (output "sh" "-c" (cat "gpg --list-secret-keys " .work.signingkey " >/dev/null 2>&1 || echo false")) "")) }}
[commit]
	gpgsign = true
{{- end }}
{{ end -}}
