# vim: ft=gitconfig
[user]
	name = {{ .name | quote }}
	# NOTE: user.email is not configured to force configuration
	# of each repoisitory.
	signingKey = {{ .gpgkey | quote }}
	# Instruct Git to avoid trying to guess defaults for
	# user.email and user.name, and instead retrieve the values
	# only from the configuration.
	useConfigOnly = true
[init]
	defaultBranch = main
[pull]
	ff = "only"
[merge]
	# https://blog.nilbus.com/take-the-pain-out-of-git-conflict-resolution-use-diff3/
	# https://stackoverflow.com/q/27417656
	conflictStyle = diff3
[commit]
{{- if (and (lookPath "gpg") (eq (output "sh" "-c" (cat "gpg --list-secret-keys " (quote .gpgkey) " >/dev/null 2>&1 || echo false")) "")) }}
	gpgSign = true
{{- end }}
{{- $credential_helper := output "sh" "-c" "git config credential.helper 2>/dev/null || true" | trim }}
{{- if and (not (empty $credential_helper)) (not (eq $credential_helper "osxkeychain")) }}
[credential]
	helper = {{ $credential_helper  | quote }}
{{- end }}
