# vim: ft=gitconfig
# This is Git's per-user configuration file.
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingKey = {{ .gpgkey }}
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = true
[grep]
	lineNumber = true
[alias]
	s = status
	st = status
	patch = !git --no-pager diff --no-color
[core]
	editor = vim
	hooksPath = "~/.config/git/hooks"
[diff]
	tool = vimdiff
	colorMoved = default
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = 0
[push]
	default = simple
[pull]
	rebase = true
[commit]
{{- if (and (lookPath "gpg") (eq (output "sh" "-c" (cat "gpg --list-secret-keys " .gpgkey " >/dev/null 2>&1 || echo false")) "")) }}
	gpgsign = true
{{- end }}
{{- if .is_work }}
[includeIf "gitdir:{{ .work.path }}/*/"]
	path = ~/.config/git/work
{{- end }}
