{{ if .is_work -}}
# vim: ft=gitconfig
[user]
	email = {{ .work.email | quote }}
	signingKey = {{ .work.signingkey | quote }}
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	hooksPath = "$GIT_DIR/hooks"
{{ end -}}
