{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

set -e

# Install homebrew if it's missing
if ! command -v brew >/dev/null 2>&1; then
  echo-info "Installing homebrew"
  eval '/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"'
fi

echo-run brew upgrade

{
  echo 'tap "georgewitteman/taps"'
  echo 'brew "tree"'
  echo 'brew "chezmoi"'
  echo 'brew "curl"'
  echo 'brew "fd"'
  echo 'brew "fzf"'
  echo 'brew "git"'
  echo 'brew "gnupg"'
  echo 'brew "htop"'
  echo 'brew "hyperfine"'
  echo 'brew "jq"'
  echo 'brew "neovim"'
  echo 'brew "openssl"' # pyenv recommends
  echo 'brew "pgcli"'
  echo 'brew "pinentry-mac"'
  echo 'brew "readline"' # pyenv recommends
  echo 'brew "ripgrep"'
  echo 'brew "rsync"'
  echo 'brew "shellcheck"'
  echo 'brew "sqlite"' # pyenv recommends
  echo 'brew "starship"'
  echo 'brew "terraform"'
  echo 'brew "tmux"'
  echo 'brew "tree"'
  echo 'brew "wget"'
  echo 'brew "xz"' # pyenv recommends
  echo 'brew "zlib"' # pyenv recommends
  echo 'brew "zsh"'
  echo 'brew "universal-ctags"'
  if ! command -v aws >/dev/null 2>&1; then
    echo 'brew "awscli"'
  fi
  if ! ls /usr/local/Cellar/*openssl* >/dev/null 2>&1; then
    echo 'brew "openssl"'
  fi
} | echo-run brew bundle --no-lock --verbose --file=-
{{ end -}}
